@import url(./_invalid/popup__button_invalid.css);
@import url(./_valid/popup__button_valid.css);
@import url(./_save/popup__button_save.css);

.popup__button {
  width: 100%;
  height: 50px;
  margin-top: 48px;
  border-radius: 2px;
}
